{% extends 'TaskPlannerBundle::taskbase.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/jumbotron-narrow.css') }}"
{% endblock %}

{% block body %}
    {% if is_granted('ROLE_USER')%}
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li><a class="btn btn-default" href="{{ url('main')}}">Add Tasks and Categories</a></li>
            <li role="presentation" class="active"><a href="/logout">Logout</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Task Planner</h3>
      </div>

      <div class="jumbotron">
        <h1>Task Planner</h1>
        <p class="lead">Now get to work, press button to manage Your tasks!</p>
        <p><a class="btn btn-lg btn-success" href="{{ url('taskList')}}" role="button">Your Tasks</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>New functions!</h4>
          <p>Making Your tasks management easier!</p>

          <h4>Start now</h4>
          <p>Don't waste any more time.</p>

        </div>

        <div class="col-lg-6">
          <h4>Easy to use</h4>
          <p>Just register and start!</p>

          <h4>It's free</h4>
          <p>You don't have to pay for anything!</p>

        </div>
      </div>

      <footer class="footer">
        <p>&copy; 2016 Company, Inc.</p>
      </footer>

    </div> 
    {% else %}
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/login">Sign in</a></li>
            <li role="presentation"><a href="#">Contact</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Task Planner</h3>
      </div>

      <div class="jumbotron">
        <h1>Task Planner</h1>
        <p class="lead">Welcome to Our new Task Planner Page. If You want to check many useful functions and make Your life easier Sign up now. It's free!</p>
        <p><a class="btn btn-lg btn-success" href="/register" role="button">Sign up today</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>New functions!</h4>
          <p>Making Your tasks management easier!</p>

          <h4>Start now</h4>
          <p>Don't waste any more time.</p>

        </div>

        <div class="col-lg-6">
          <h4>Easy to use</h4>
          <p>Just register and start!</p>

          <h4>It's free</h4>
          <p>You don't have to pay for anything!</p>

        </div>
      </div>

      <footer class="footer">
        <p>&copy; 2016 Company, Inc.</p>
      </footer>

    </div> 
    {%endif%}
{% endblock %}
