{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <h2>Welcome to Task Planner {{ user.username }}, Your registration is confirmed.<br>
    Go to <a href="{{ url('taskList')}}">YOUR TASKS</a>!
    </h2>
 
{% endblock fos_user_content %}
