body {
    padding-top: 50px;
    background-color: 	#DCDCDC;
}
.form1 {
    display: flex;
    justify-content: center;
   
}
.form2 {
    width: 400px;
}
.table {
    margin: auto;
    margin-top: 30px;
    width: 60%;
}
th, td {
    background-color: #6699ff;
}