body {
    padding-top: 50px;
    background-color: 	#DCDCDC;
}
.date{
    white-space: nowrap;
}
.table1 {
    
    flex-shrink: 1;
    margin: 20px;
    width: auto;

}

.table2 {
    flex-shrink: 1;
    margin: 20px;
    width: auto;
}
.tables {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.containLast{
    display: flex;
    justify-content: center;
}
.last{
    
    width: 50%;
    
}

.table{
    border: 1px solid black;
    
}
.table1 th {
    background-color: #42c2f4;

}
.table2 th{
    background-color: #3cea96;
}
.last th{
    background-color:#f74251;
}
